{% extends "settings/setting_template.html" %}

  {% block head %}
    {{ super() }}
    <script src="{{url_for('static',filename='assets/js/ajax_template.js')}}"></script>
    <script src="{{url_for('static',filename='assets/js/ajax_send.js')}}"></script>
    <link href="{{url_for('static',filename='assets/css/table.css')}}" rel="stylesheet" />

  {% endblock %}

  {%block jobs_active%}
      active
  {%endblock%}
  {% block tab_data %}
      <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Create new Job</h5>
              </div>
              <div class="card-body">
                <form>
                  <div class="row">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label>Job Name</label>
                        <input id="name" placeholder="Insert job name" value="" type="text" class="form-control"  name="name" required>
                      </div>
                    </div>
                    <div class="col-md-3 pl-md-1">
                      <div class="form-group">
                        <label>Priority</label>
                        <input id="priority" type="number" class="form-control" name="priority" value="" placeholder="Insert priority">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-md-1">
                      <div class="form-group">
                        <table class="table">
                          <thead>
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Task</th>
                              <th scope="col">Interval (Seconds)</th>
                              <th scope="col">Force</th>
                              <th scope="col">Enabled</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for task in jobs["jobset"] %}
                              <tr>
                                <th scope="row">{{loop.index}}</th>
                                <td>{{task["task"]}}</td>
                                <td><input type="number" min="0" class="form-control" name="interval" value={{task["interval"]}}></td>
                                <td><input type="number" min="0" max="1" class="form-control" name="force" value={{task["force"]}}></td>
                                <td><input type="number" min="0" max="1" class="form-control" name="enabled" value={{task["enabled"]}}></td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div>
                      <button type="submit" name="add" class="btn btn-fill btn-primary btn-sm" id="submit">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
  {%endblock%}

  {% block extra_js%}
    <script>
    $(document).ready(function() {
        var table = $("table tbody");
        $("button#submit").click(function(e){
            e.preventDefault();
            var job_name = $("#name").val();
            var priority = $("#priority").val();
            var all_data = {"name":job_name,"priority":priority,"jobset":[]}
            // Get all key,value in table
            table.find('tr').each(function (i, el) {
                var obj = new Object();
                var $tds = $(this).find('td');
                task = $tds.eq(0).text();
                obj.task = task;

                $(this).closest('tr').find("input").each(function() {
                    obj[this.name] = this.name;
                    obj[this.name] = this.value;
                });
                all_data.jobset.push(obj);
            });
            ajax_call(url="{{url_for('main_ui.create_job')}}",method="POST",data=all_data)
            window.location.replace("{{url_for('main_ui.jobs')}}");
        });
    });
    </script>
  {%endblock%}

