<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
  <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

  <script src="{{url_for('static',filename='assets/js/table.js')}}"></script>
  <link href="{{url_for('static',filename='assets/css/table.css')}}" rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/black_flag.png">
  <title>
    HoneyAD
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../static/assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../static/theme.css" rel="stylesheet" />
  <link href="../static/assets/css/black-dashboard.min.css?v=1.0.0" rel="stylesheet" />


</head>
<style>
/*

  table.dataTable tbody tr.selected {
    background-color: #1e1e2f;
  }
  div#example_paginate,div#example2_paginate {
    background-color: whitesmoke;
  }
  table.dataTable tbody tr {
    background-color: #1e1e2f;
  }
  table.dataTable.no-footer {
    border-bottom: 1px solid #fff;
  }
  div#example_info {
    color: white;
  }
  .btn-primary {
      background: #007bff !important;
  }
*/
  .main-panel {
      border-top: 2px solid #fbc531 !important;
  }
  .link {
    fill: none;
    stroke: #fbc531;
    stroke-width: 1.5px;
  }

  #licensing {
    fill: green;
  }

  .link.licensing {
    stroke: green;
  }

  .link.resolved {
    stroke-dasharray: 0,2 1;
  }

  circle {
    fill: #ccc;
    stroke: #fbc531;
    stroke-width: 1.5px;
  }

  text {
    font: 12px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    fill: #fff;    
  }
  .icon-bell-55::before {
    color:#fbc531;
  }
</style>

<body class="sidebar-mini">
  <div class="wrapper">
    <div class="sidebar" data="blue">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            db
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            {{ company }}
          </a>
        </div>
        <ul class="nav">
          <li class="">
            <a href="/agent/information">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="active">
            <a href="/agent/campaign">
              <i class="tim-icons icon-spaceship"></i>
              <p>Campaign</p>
            </a>
          </li>
          <li class="">
            <a href="/agent/discover">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Discover</p>
            </a>
          </li>
          <li class="">
            <a href="/agent/watcher">
              <i class="tim-icons icon-video-66"></i>
              <p>Watcher</p>
            </a>
          </li>
          <li class="">
            <a href="/agent/assets">
              <i class="tim-icons icon-single-02"></i>
              <p>Assets</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-minimize">
            <div class="navbar-toggle d-inline">

                                        <button id="minimizeSidebar" class="btn btn-default btn-fill btn-round btn-icon">
                                                <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                                                <i class="fa fa-ellipsis-v visible-on-sidebar-mini"></i>
                                        </button>
            </div>
          </div>
          <div class="navbar-header">
              <a class="navbar-brand" style="position:relative" href="/landing"><span class="tweak">Honey</span>AD</a>
          </div>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="notification d-none d-lg-block d-xl-block"></div>
                  <i class="tim-icons icon-sound-wave"></i>
                  <p class="d-lg-none">
                    Notifications
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                  <li class="nav-link">
                    <a href="#" class="nav-item dropdown-item">Mike John responded to your email</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <div class="photo">
                    <img src="../static/assets/img/incognito.png" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a>
                  </li>
                  <li class="nav-link">
                    <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                  </li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link">
                    <a href="/logout" class="nav-item dropdown-item">Log out</a>
                  </li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-lg-12">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><span class="glyphicon glyphicon-ok"></span> <strong>Success</strong><hr class="message-inner-separator"><p>{{message}}</p></div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5>Tasks in Queue</h5>
                    <h1 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>{{staged_tasks}}</i></h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5>Tasks in Progress</h5>
                    <h1 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>{{grabbed_tasks}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5>Complete Tasks</h5>
                    <h1 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>{{complete_tasks}}</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-12 text-left">
                    <h5>Failed Tasks</h5>
                    <h1 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>0</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> Agent Orders</h3>
                <h5 class="card-title"></i> Assign tasks for the agents to run</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <form id="frm-example" action="/agent/orders" method="POST">
                    <table id="example" class="table table-striped table-bordered"  style="width:100%">
                      <thead>
                        <tr>
                          <th><div class="form-check">
                              <input name="select_all" value="1" type="checkbox" class="form-check-input" style="left:4px">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                          </div></th>
                          <th>Agent ID</th>
                          <th>Group</th>
                          <th>Hostname</th>
                          <th>Domain</th>
                          <th>Operating System</th>
                          <th>Logger</th>
                          <th>Shipper</th>
                          <th>Last Check in</th>
                          <th>Install Date</th>
                        </tr>
                      </thead>
                    </table>
		  <div class="form-group row">
		      <legend class="col-sm-2 col-form-label" style="color:white">Task Name</legend>
		      <div class="col-sm-10">
		        <input type="text" name="taskname" class="form-control" id="inputEmail3" placeholder="Insert a task name">
		      </div>
		    </div>
		    <fieldset class="form-group">
		      <div class="row">
		        <legend class="col-sm-2 col-form-label" style="color:white">Winlogbeat</legend>
		        <div class="col-sm-10">
		          <select name="winlogbeat" id="inputState" class="form-control">
		            <option selected>None</option>
			    <option value="status">status</option>
			    <option value="start">start</option>
			    <option value="stop">stop</option>
			    <option value="restart">restart</option>
			    <option value="update">update</option>
			    <option value="install">install</option>
		          </select>
		        </div>
		      </div>
                    </fieldset>
		    <fieldset class="form-group">
		      <div class="row">
		        <legend class="col-form-label col-sm-2 pt-0" style="color:white">Sysmon</legend>
		        <div class="col-sm-10">
		          <select name="sysmon" id="inputState" class="form-control">
		            <option selected>None</option>
			    <option value="status">status</option>
			    <option value="start">start</option>
			    <option value="stop">stop</option>
			    <option value="restart">restart</option>
			    <option value="update">update</option>
			    <option value="install">install</option>
		          </select>
		        </div>
		      </div>
                    </fieldset>
		    <fieldset class="form-group">
		      <div class="row">
		        <legend class="col-form-label col-sm-2 pt-0" style="color:white">Threat Hunt</legend>
		        <div class="col-sm-2">
		          <select name="category" id="inputState" class="form-control">
		            <option selected>Category-None</option>
			    <option value="wmi">WMI</option>
		          </select>
		        </div>
		        <div class="col-sm-2">
		          <select name="subcategory" id="inputState" class="form-control">
		            <option selected>Subcategory-None</option>
			    <option value="none">none</option>
			    <option value="all">All classes</option>
			    <option value="win32_computersystem">Host information</option>
			    <option value="win32_useraccount">User Accounts (Local only)</option>
			    <option value="win32_quickfixengineering">Patch Information</option>
			    <option value="win32_networkloginprofile">Network Login Profile</option>
			    <option value="win32_group">Group accounts (Local only)</option>
			    <option value="win32_service">Get Services</option>
			    <option value="win32_loggedonuser">Logged on users</option>
			    <option value="win32_process">Get processes</option>
			    <option value="win32_startupcommand">Startup Commands</option>
			    <option value="win32_share">Get Shares</option>
			    <option value="win32_networkadapterconfiguration">Network Adapter Information</option>
		          </select>
		        </div>
		        <div class="col-sm-2">
		          <select name="fulldata" id="inputState" class="form-control">
		            <option selected>FullData-None</option>
			    <option value="true">True</option>
			    <option value="false">False</option>
		          </select>
		        </div>
		        <div class="col-sm-2">
		          <select name="enabled" id="inputState" class="form-control">
		            <option selected>Enabled-None</option>
			    <option value="true">True</option>
			    <option value="false">False</option>
		          </select>
		        </div>
		      </div>
                    </fieldset>
		    <fieldset class="form-group">
		      <div class="row">
		        <legend class="col-form-label col-sm-2 pt-0" style="color:white">Settings</legend>
		        <div class="col-sm-5">
   		          <input type="number" name="poll" class="form-control" id="poll" placeholder="Ex. 2 (Agent will run task for 2 minutes)">
		        </div>
		        <div class="col-sm-5">
   		          <input type="number" name="interval" class="form-control" id="interval" placeholder="Ex. 10 (Agent will run task every 10 seconds)">
		        </div>
		      </div>
                    </fieldset>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-simple">Submit Task</button>
                      </div>
                    </div>
                  </form> 
<!-- haaaaa -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="card ">
              <div class="card-header">
                <h3 class="card-title"><i class="tim-icons icon-notes text-success"></i> Agent Tasks</h3>
                <h5 class="card-title"></i> Search and filter for specific Agent Tasks</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                 <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <table id="example2" class="table table-striped table-bordered"  style="width:100%">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>agent id</th>
                        <th>taskname</th>
                        <th>tracking id</th>
                        <th>logger</th>
                        <th>shipper</th>
                        <th>threathunt</th>
                        <th>status</th>
                      </tr>
                    </thead>
                  </table>
                 </div
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                HoneyAD
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <i class="fa fa-cog fa-2x"> </i>
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Chart JS -->
  <script src="../static/assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/black-dashboard.min.js?v=1.0.0"></script>

  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script>   
  //$.noConflict();  

  $(document).ready(function() {
    $('#example2').DataTable( {
        "processing": true,
        "orderSequence": [ "asc" ], "targets": [ 0 ],
        "order": [[ 0, "desc" ]],
        "pageLength": 5,
        "ajax": "/ajax/0004",
    });
  });

  </script>
</body>

</html>
