{% extends "template.html" %}

  {% block head %}
    {{ super() }}
    <script src="{{url_for('static',filename='assets/js/chartjs_template.js')}}"></script>
  {% endblock %}

      {% block body %}
        <div class="row">
          <div class="col-lg-7 col-sm-6 text-center">
            <div class="card card text-left">
              <div class="card-header">
                <h3 class="title d-inline">Domain Information</h3>
              </div>
              <div class="card-body">
                <div class="table-full-width table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>
                          <p class="title">Total Privileged Users</p>
                          <p class="text">{{data|length}}</p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p class="title">Total Managed Users</p>
                          <p class="text">{{managed}}</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="card card-chart">
              <div class="card-header">
                <h1 class="card-category">Total number of managed accounts</h1>
                <h3 class="card-title"><i class="tim-icons icon-bulb-63 text-success"></i>Managed Accounts</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-6 text-center">
            <div class="card card text-left">
              <div class="card-header">
                <h3 class="title d-inline">Onboard Accounts for Domain</h3>
              </div>
              <div class="card-body">
                <div class="table-full-width table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Account Name</th>
                        <th scope="col">Managed</th>
                        <th scope="col">Privileged</th>
                        <th scope="col">Last Password Sync</th>
                        <th scope="col">Password Length</th>
                        <th scope="col">Password Rotated (in days)</th>
                        <th scope="col">Vault</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for account in data %}
                       <tr>
                        {% if account.managed %}
                          <th scope="row"><i class="tim-icons icon-check-2 text-green"></i></th>
                        {% else %}
                          <th scope="row"><i class="tim-icons icon-alert-circle-exc text-red"></i></th>
                        {% endif %}

                          <td>{{account.name or account}}</td>
                          {% if account.managed %}
                            <td> Yes </td>
                          {% else %}
                            <td> No </td>
                          {% endif %}

                          <td><i class="tim-icons icon-alert-circle-exc text-red"></i>  Yes</td>
                          <td>{{account.last_password_sync}}</td>
                          <td>{{account.password_length}}</td>
                          <td>{{account.password_rotation}}</td>
                          {% if account.name %}
                            {% if account.managed %}
                              <td><a href="{{url_for('main_ui.view_ad_account',sid=account.objectsid)}}"><i class="tim-icons icon-zoom-split text-green"></i></a></td>
                            {% else %}
                              <td><a href="{{url_for('main_ui.view_ad_account',sid=account.objectsid)}}"><i class="tim-icons icon-zoom-split text-yellow"></i></a></td>
                            {% endif %}
                          {% else %}
                              <td>In Sync</td>
                          {% endif %}
                         </tr>
                        {% endfor %}
                      </tbody>
                    </table>   
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}

  {% block extra_js%}
  <script>
    $(document).ready(function (){
        $.noConflict();
        var table2 = cjs_init(
            selector="chart",
            url="/api/agent/data/ad_user?as_chartjs=true&groupby=managed,count&limit=100&filter=is_priv,eq,1",
            type="bar", // type of graph (line,pie,bar,doughnut,polarArea)
            graph_label="Accounts", // header of graph
        );
    });
  </script>
  {%endblock%}
