{% extends "template.html" %}

      {% block body %}
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-chart">
              <div class="card-header">
                <h1 class="card-category">View attributes for the Object</h1>
                <h3 class="card-title"><i class="tim-icons icon-bulb-63 text-success"></i>View Object</h3>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <canvas id="chart"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endblock %}
